---
import About from "@/components/sections/About.astro";
import Education from "@/components/sections/Education.astro";
import Experience from "@/components/sections/Experience.astro";
import Hero from "@/components/sections/Hero.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";
import Layout from "@/layouts/Layout.astro";

import { basics } from "@cv-common";
import { basics as basicsLang } from "@cv-lang";

const { name } = basics;
const { label, summary } = basicsLang;
---

<Layout
  title={`${name}'s Minimalist Portfolio - ${label}`}
  description={summary}
>
  <main>
    <Hero />
    <About />
    <Experience />
    <Education />
    <!-- <Projects /> -->
  </main>
  <KeyboardManager />
</Layout>

<style>
  main {
    padding: 4rem;
    margin: auto;
    width: 100%;
  }
</style>
